<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>stt_v</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>BreeSerif-Regular.ttf</string>
		<string>Cinzel-Black.ttf</string>
		<string>Cinzel-Bold.ttf</string>
		<string>Cinzel-Regular.ttf</string>
		<string>Cormorant-Bold.ttf</string>
		<string>Cormorant-BoldItalic.ttf</string>
		<string>Cormorant-Italic.ttf</string>
		<string>Cormorant-Light.ttf</string>
		<string>Cormorant-LightItalic.ttf</string>
		<string>Cormorant-Medium.ttf</string>
		<string>Cormorant-MediumItalic.ttf</string>
		<string>Cormorant-Regular.ttf</string>
		<string>Cormorant-SemiBold.ttf</string>
		<string>Cormorant-SemiBoldItalic.ttf</string>
		<string>CormorantSC-Bold.ttf</string>
		<string>CormorantSC-Light.ttf</string>
		<string>CormorantSC-Medium.ttf</string>
		<string>CormorantSC-Regular.ttf</string>
		<string>CormorantSC-SemiBold.ttf</string>
		<string>HeadlandOne-Regular.ttf</string>
		<string>Kurale-Regular.ttf</string>
		<string>OldStandard-Bold.ttf</string>
		<string>OldStandard-Italic.ttf</string>
		<string>OldStandard-Regular.ttf</string>
		<string>Vollkorn-Black.ttf</string>
		<string>Vollkorn-BlackItalic.ttf</string>
		<string>Vollkorn-Bold.ttf</string>
		<string>Vollkorn-BoldItalic.ttf</string>
		<string>Vollkorn-Italic.ttf</string>
		<string>Vollkorn-Regular.ttf</string>
		<string>Vollkorn-SemiBold.ttf</string>
		<string>Vollkorn-SemiBoldItalic.ttf</string>
		<string>AlegreyaSC-Black.ttf</string>
		<string>AlegreyaSC-BlackItalic.ttf</string>
		<string>AlegreyaSC-Bold.ttf</string>
		<string>AlegreyaSC-BoldItalic.ttf</string>
		<string>AlegreyaSC-ExtraBold.ttf</string>
		<string>AlegreyaSC-ExtraBoldItalic.ttf</string>
		<string>AlegreyaSC-Italic.ttf</string>
		<string>AlegreyaSC-Medium.ttf</string>
		<string>AlegreyaSC-MediumItalic.ttf</string>
		<string>AlegreyaSC-Regular.ttf</string>
		<string>CormorantInfant-Bold.ttf</string>
		<string>CormorantInfant-BoldItalic.ttf</string>
		<string>CormorantInfant-Italic.ttf</string>
		<string>CormorantInfant-Light.ttf</string>
		<string>CormorantInfant-LightItalic.ttf</string>
		<string>CormorantInfant-Medium.ttf</string>
		<string>CormorantInfant-MediumItalic.ttf</string>
		<string>CormorantInfant-Regular.ttf</string>
		<string>CormorantInfant-SemiBold.ttf</string>
		<string>CormorantInfant-SemiBoldItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>Comfortaa-Bold.ttf</string>
		<string>Comfortaa-Light.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>DidactGothic-Regular.ttf</string>
		<string>Forum-Regular.ttf</string>
		<string>Philosopher-Bold.ttf</string>
		<string>Philosopher-BoldItalic.ttf</string>
		<string>Philosopher-Italic.ttf</string>
		<string>Philosopher-Regular.ttf</string>
	</array>
</dict>
</plist>
